#btn-start {
  transform: translate(45vw, 35vh) scale(4);
  transition: 1s;
}

#btn-start.playing {
  transform: translate(0, 0) scale(1);
}

#marker {
  display: none;
  z-index: -1;
  transition: .1s ease-out;
}

:root {
  --marker-diameter: 10rem;
  --marker-radius: calc(var(--marker-diameter) / 2);
  --marker-bg-color: #ffa500aa;
}

#marker.playing {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--marker-diameter);
  height: var(--marker-diameter);
  margin: 0;
  border-radius: 50%;
  background-color: var(--marker-bg-color);
  box-shadow: 0 0 2rem 2rem var(--marker-bg-color);
  background-size: cover;
  background-position-y: -.5rem;
  animation-name: ecto-blobify;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  filter: hue-rotate(220deg) saturate(4);
}

@keyframes ecto-blobify {
  0% {
      background-image: url('ecto-blobs/ecto-blob-1.PNG');
  }
  17% {
      background-image: url('ecto-blobs/ecto-blob-2.PNG');
  }
  34% {
      background-image: url('ecto-blobs/ecto-blob-3.PNG');
  }
  51% {
      background-image: url('ecto-blobs/ecto-blob-4.PNG');
  }
  68% {
      background-image: url('ecto-blobs/ecto-blob-5.PNG');
  }
  85% {
      background-image: url('ecto-blobs/ecto-blob-6.PNG');
  }
  100% {
      background-image: url('ecto-blobs/ecto-blob-1.PNG');
  }
}

.file-name {
  font-size: 2rem;
  font-weight: normal;
  color: rgb(67, 247, 157);
}

body {
  font-family: monospace;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.blerp {
  flex-direction: row;
  align-items: unset;
}

.blerp #btn-start {
  margin-left: auto
}

@media only screen and (max-width: 600px) {
  .file-name {
    font-size: 1rem;
  }
}